@model IEnumerable<Crud.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<div>
    <form>
        @Html.TextBox("sno", "", new{ placeholder="sno"})<br/>
        @Html.TextBox("sname", "", new { placeholder = "sname" })<br />
        @Html.TextBox("course", "", new { placeholder = "course" })<br />
        @Html.TextBox("fee", "", new { placeholder = "fee" })<br />
    </form>
</div>
<input type="button" id="create" value="create">

<script>
    $(document).ready(function () {
        $("#create").click(function () {
            var data = {
                sno: document.getElementById("sno").value,
                sname: document.getElementById("sname").value,
                course: document.getElementById("course").value,
                fee: document.getElementById("fee").value,
            };
            console.log(data)
            $.ajax("http://localhost:2553/First/create", {
                method: "POST",
                data: data,
                sucess: function (response) {
                   console.log(response);
                }
            });
        })
    })
</script>